@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
.container{
    display: grid;
    grid-template-columns: repeat(4 ,120px);
    grid-template-rows: 170px  120px 170px;
    gap: 5px;
}
.container .one div{
    
    border-radius: 5px;
}
/* .......................... */

.container .one{
    display: grid;
    grid-template-columns: 120px;
    grid-template-rows: 200px 200px;
    gap: 5px;

}
.container .item1{
    background-color:bisque;
}
.container .item1 div{
    font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  padding-left: 10px;
}
.span{
    color: rgb(157, 63, 246);
}


.container .item2 {
    background-color: rgb(249, 191, 84);
padding-left:5px ;
    

}

.container .tow  div{
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
    border-radius: 10px;
}
.container .tow{
    display: grid;
    grid-template-columns: 140px 140px 140px ;
    grid-template-rows: 120px 140px 140px;
    gap: 5px;


}


.container .tow .item3{
    background-color:rgb(133, 40, 246) ;
    grid-column: 1/3;
    text-align: center;
    color:  hsl(0, 0%, 100%);
    font-size:large;

}
.container .tow .item3 .small{
    font-size: small;
}

.container .tow .item4{
    background-color: rgb(237, 208, 248);
    grid-row: 1/3;
    grid-column: 3/4;
    padding-left: 30px;
      
}
.container .tow .item4 img{
    padding-left: 30px;
}
.container .tow .item4 .par{
    font-size: xx-small;
}
.container .tow .item5{
    background-color: rgb(232, 234, 235);
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    padding: 10px;

   
    
}
.container .tow .item6{
    background-color: rgb(249, 192, 86);
     padding-left: 5px; 
    
}
.container .tow .item7{
    background-color:rgb(133, 40, 246) ;
    grid-row: 3/4;
    grid-column:2/4 ;
    display: flex;
    -ms-flex-direction: column;
    align-items: center;
    padding: 5px;
    
}
.container .tow .item7 div{
    color: white;
   
}
.container .tow .item8{
    background-color: rgb(232, 234, 235);

}
.container .tow .item8 .prg{
    font-size: x-large;
    text-align: center;
}
.container .tow .item8 .prg2{
    font-size: x-small;
    text-align: center;
}
.container .tow .item8 .img{
    text-align: center;
}